/* Reset some default styles */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@font-face {
    font-family: "IBM";
    src: url("IBMPlexSans-Regular.ttf");
}

body {
    font-family: IBM, sans-serif;
    overflow-x: hidden;
    background-color: #f0fdee;
}

/* Header styles */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #072e39;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.menu-btn__line {
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.menu-nav__item {
    margin: 10px 0;
}

.menu-nav__link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s ease-in-out;
}

.menu-nav__link:hover {
    background-color: #555;
}

/* Main content styles */
.intro {
    text-align: center;
    margin-top: 20px;
}

.intro h1 {
    color: #f82616;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.tiles {
    margin-top: 20px;
}

.tile {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;  /* This ensures that the video or image doesn't overflow the tile */
    opacity: 0.7;  /* Adjust this value as needed to get the desired dimming effect */
    transition: opacity 0.3s;  /* Smooth transition for the dimming effect */
}

.tile-background {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;  /* This will ensure the media maintains its aspect ratio */
}

.tile-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s;  /* Smooth transition for the scaling effect */
    letter-spacing: 2px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
    z-index: 99;  /* Just below the menu */
    display: none;  /* Hidden by default */
}

/* Mobile styles (default) */
.tile {
    width: 100%;
    margin: 0 auto;  /* For center alignment */
}

/* Desktop styles */
@media screen and (min-width: 768px) {  /* 768px is a common breakpoint for tablets/desktops */
    .tile {
        width: 66%;  /* Adjust this value as needed */
    }
}

.tile:hover {
    opacity: 1;  /* Restore full opacity on hover */
}

.tile:hover .tile-header {
    transform: translate(-50%, -50%) scale(1.1);  /* Scale the text slightly on hover */
}
