@font-face {
  font-family: Fira; 
  src: url('FiraCode-Medium.ttf');
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.box {
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

a {
  color:red;
  font-family: Fira;
}

p {
  color: rgb(168, 168, 168);
  font-family: Fira;
  text-align:center;
  font-size:2vh;
}

.lil {
  color: rgb(120, 120, 120);
  font-family: Fira;
  text-align:center;
  font-size:1.5vh;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  background-color: white;
}

.h1 {
  color: rgb(200, 200, 200);
  font-family: Fira;
  text-align:center;
  font-size:7vh;
}

.h2 {
  color: rgb(200, 200, 200);
  font-family: Fira;
  text-align:center;
  font-size:5vh;
}
