main{
    top:0;
    position:absolute;
    width:100%;
    height:80%;
    display:table;
}

p{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
