@font-face {
    font-family: grotesk; 
    src: url('SchibstedGrotesk-VariableFont_wght.ttf');
  }

body{
    display: grid;
    margin:0;
    width: 100vw;
    height: 100vh;
    place-items: center;
    background-color:rgb(110, 105, 105);

}
  
.main{
    width: 90%;
    height: 90%;
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: center;
    background-color:rgb(120, 165, 239);
}

.col{
    width: 33.33%;
    height: 98%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction:column;
}

.col2{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction:column;
    background-image:url("andrew-haimerl-1nFfxtQF314-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

p{
    font-family: grotesk;
    font-size:300%;
}

h{
    font-family: grotesk;
    font-size:600%;
}